footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Logo')
    ul.footer__nav
        li: a(href='#') About
        li: a(href='#') Contact
        li: a(href='#') Become a guide
    p.footer__copyright &copy; Raihan Muhammad. Template Deisgn By jonas schmedtmann